*.tar.gz
*.deb
*.exe
src/bitcoin
src/kotod
src/koto-cli
src/koto-gtest
src/koto-tx
src/test/test_bitcoin
src/test/test_bitcoin_fuzzy
src/qt/test/test_koto-qt

*zcashTest.pk
*zcashTest.vk

### C ###
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf


# End of https://www.gitignore.io/api/c

/src/test/data/*.h
.deps
.dirstamp
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/config.status
/configure
/libtool
/libzcashconsensus.pc
config.log
share/qt/Info.plist
share/setup.nsi
src/qt/qrc_bitcoin_locale.cpp
src/qt/qrc_bitcoin.cpp
src/qt/*.moc
src/qt/moc_*.cpp
src/qt/forms/ui_*.h

src/qt/test/moc*.cpp

src/qt/bitcoin-qt.config
src/qt/bitcoin-qt.creator
src/qt/bitcoin-qt.creator.user
src/qt/bitcoin-qt.files
src/qt/bitcoin-qt.includes

*.qm
koto-qt
Koto-Qt.app
Koto-Qt.app
background.tiff*
